<!-- Header -->
<header>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <%= image_tag "jameshs.jpg", class: "img-responsive" %>
                <div class="intro-text">
                    <span class="name">James Matthews</span>
                    <hr class="star-light">
                    <span class="skills">Web Developer - Ops Manager - Leader</span>
                </div><br />
                <div>
                    <p>I believe in doing what you love, and, for me, that’s doing work that provides value and makes a positive impact on the lives of others.</p>
                </div>                
            </div>
        </div>
    </div>
</header>

<!-- Work Section -->

<section id="work">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Work</h2>
                <hr class="star-primary">                
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <section class="box style1">
                    <span class="icon featured fa-comments-o"></span>
                       <h3>Developer</h3>
                       <p>My approach with development is to emphasize practical and efficient builds that are stable, scalable, and provide an excellent user experience.<br />My cross-functional knowledge of e-commerce, technology, and operations management gives me a unique advantage in building collaborative, working relationships with people across all functions of business.<br />In addition to development, I also take time to learn and practice UI and UX principles.</p>
                </section>
            </div>
            <div class="col-md-4">
                <section class="box style1">
                   <span class="icon featured fa-camera-retro"></span>
                    <h3>Creator</h3>
                    <p>Here are some of the technologies that I'm creating with:</p>
                    <ul>
                        <li>HTML5</li>
                        <li>CSS3 and SASS</li>
                        <li>JavaScript</li>
                        <li>jQuery</li>
                        <li>Ruby</li>
                        <li>Ruby on Rails</li>
                        <li>Bootstrap</li>
                        <li>GitHub</li>                                     
                        <li>React.JS</li>
                        <li>Angular.JS</li>
                    </ul>
                </section>
            </div>
            <div class="col-md-4">
                <section class="box style1">
                    <span class="icon featured fa-thumbs-o-up"></span>
                    <h3>Leader</h3>
                    <p>With four years of management experience in the supply chain industry, I have led numerous teams through periods of intense growth and high volume. As a manager, I have continuously looked for ways to develop and inspire those around me.<br />I plan to continue this trend in the development sphere as I work toward becoming a leader in my new industry.</p>
                    <p class="quote"><em>"Do or do not; there is no try."</em><br />-Master Yoda</p>
                </section>
            </div>
            </div>
        </div>
    </div>
</section>

<!-- Portfolio Grid Section -->
<section id="portfolio">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Portfolio</h2>
                <hr class="star-primary">
            </div>
        </div>
        <div class="row">
                <% @posts.each do |post| %>
                <div class="col-sm-4 portfolio-item">
                <%= link_to post_path(post) do %>
                  <%= post.title %>
                  <%= image_tag post.image, class: 'img-responsive' %>
                <% end %>
                </div>
            <% end %>
        </div>
    </div>
</section>

<!-- About Section -->
<section class="success" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>About</h2>
                <hr class="star-light">
            </div>
        </div>
        <div class="row">
            <div class="about">
                <p><style> .about {text-indent: 4em;} </style>I graduated from the University of Tennessee in December of 2013 with a B.S in Business Administration. Upon graduation, I immediately went to work in business operations as an Assistant Supervisor at PVH Corp. Although I didn't see operations as a life-long career, I saw a path to success that I couldn't ignore.</p>

                <p>I spent the next three and half years exploring new, potential career paths for myself while working my way up to being the Warehouse Manager at Ally Commerce (an e-commerce solutions company). After several years of searching, a friend and fellow programmer recommended that I give development a try.</p>

                <p>What initially attracted me to web development and programming was how the work coupled creativity and problem solving to build applications that didn't previously exist. I quickly discovered the supportive community of other developers and programmers on sites like Google and Stack Overflow, and I fell in deep admiration for the field. I knew it was time for me to take a leap into an exciting new career.</p>

                <p>As of September of 2017, I have completed CareerFoundry's Web Development and Career Changer courses. With my new technical skills, creative muscle, and former experiences, I am looking to join a company as a Junior Web Developer.</p>
            </div>
            <div class="col-lg-8 col-lg-offset-2 text-center">
<!--                 <a href="#" class="btn btn-lg btn-outline">
                    <i class="fa fa-download"></i> Download Theme
                </a> -->
            </div>
        </div>
    </div>
</section>

<!-- Contact Section -->
<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2><%= mail_to "jfmatthews90@gmail.com", "Contact Me", subject: "Hi! Please include your name and email address" %></h2><br>
                <hr class="star-primary">
            </div>
        </div>
</section>



<!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
<div class="scroll-top page-scroll hidden-sm hidden-xs hidden-lg hidden-md">
    <a class="btn btn-primary" href="#page-top">
        <i class="fa fa-chevron-up"></i>
    </a>
</div>